<div class="wrapper">
    <div class="badge silver">
        <div class="title">Hello World</div>
        <div class="rang silver">Rang: B</div>
    </div>
</div>


<div class="wrapper">
    <div class="badge gold">
        <div class="title">Hello World</div>
        <div class="rang silver">Rang: A</div>
    </div>
</div>


<div class="wrapper">
    <div class="badge platin">
        <div class="title">Hello World</div>
        <div class="rang silver">Rang: A+</div>
    </div>
</div>



<style>
    .wrapper {

        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
    }

    .badge {
        display: block;
        height: 200px;
        width: 200px;
        border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
        padding-top: 60px;
        box-sizing: border-box;
        box-shadow: 4px 4px 4px 4px lightgray;
        border: 3px solid #444;
    }

    .badge div.title {
        background-color: rgba(255, 255, 255, 0.4);
        padding-top: 4px;
        padding-bottom: 20px;
        font-size: 20px;
        width: 85%;
        height: 30px;
        border-radius: 10% 10% 80% 80% / 60% 60% 90% 90%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    .badge div.rang {
        margin-top: 10px;
        padding: 10px;
        border-radius: 2px;
    }

    .badge.silver {
        background-color: #bdd4e7;
        background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);


    }

    .badge.gold {
        background-color: #f39f86;
        background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    }

    .badge.platin {
        background-color: #20bf55;
        background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    }
</style>