<div class="wrapper">
    <div class="ribbon">Turtle 1</div>
    <div class="star">&#9734</div>
    <img class="icon" src="turtle.png">
    <div class="badge silver">
        <div class="rang silver">Rang: B</div>
    </div>
</div>


<div class="wrapper">
    <div class="ribbon">Turtle 1</div>
    <div class="star">&#9734</div>
    <img class="icon" src="turtle.png">
    <div class="badge gold">
        <div class="rang gold">Rang: A</div>
    </div>
</div>


<div class="wrapper">
    <div class="ribbon">Turtle 1</div>
    <div class="star">&#9734</div>
    <img class="icon" src="turtle.png">
    <div class="badge platin">
        <div class="rang platin">Rang: A+</div>
    </div>
</div>



<style>
    .wrapper {
        width: 200px;
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
        position: relative;
        margin-left: 50px;
    }

    .badge {
        display: block;
        height: 200px;
        width: 200px;
        border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
        padding-top: 60px;
        box-sizing: border-box;
        box-shadow: 4px 4px 4px 4px lightgray;
        border: 3px solid #444;
        position: relative;
        overflow: hidden;
    }

    .star {
        z-index: 5;
        position: absolute;
        font-size: 120px;
        margin-left: auto;
        width: 100%;
        top: 20%;
        color: rgba(255, 255, 255, 0.2);
    }

    .icon {
        width: 50px;
        height: 50;
        position: absolute;
        top: 28px;
        right: -5px;
        transform: rotate(20deg);
    }

    .ribbon {
        background-color: rgb(202, 202, 202);
        padding-top: 4px;
        padding-bottom: 20px;
        position: relative;
        top: 20px;
        font-size: 20px;
        width: 110%;
        left: -5%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .ribbon:before,
    .ribbon:after {
        content: "";
        width: 3px;
        bottom: -10px;
        position: absolute;
        display: block;
        border: 25px solid rgb(202, 202, 202);
        box-shadow: 0 8px 6px -6px #999999;
        z-index: -1;
    }

    /*Left Ribbon End*/
    .ribbon:before {
        left: -42px;
        border-right-width: 35px;
        border-left-color: transparent;
    }

    /*Right Ribbon End*/
    .ribbon:after {
        right: -42px;
        border-left-width: 35px;
        border-right-color: transparent;
    }

    .badge div.rang {
        position: absolute;
        bottom: 20%;
        text-align: center;
        width: 100%;
    }

    .badge.silver {
        background-color: #bdd4e7;
        background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);


    }

    .badge.gold {
        background-color: #f39f86;
        background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    }

    .badge.platin {
        background-color: #20bf55;
        background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    }
</style>